<div class="container">
  <div class="row">
    <div class="col-md-4">
      <strong> Ex - 01 | Merge Map </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong> Videos : </strong> ['Tech' , 'Comedy' , 'News']
      </p>
      <hr />
      <ul id="elContainer"></ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong> Ex - 01 | Concat Map </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong> Videos : </strong> ['Tech' , 'Comedy' , 'News']
      </p>
      <hr />
      <ul id="elContainer2"></ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <strong> Ex - 01 | Switch Map </strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong> Videos : </strong> ['Tech' , 'Comedy' , 'News']
      </p>
      <hr />
      <ul id="elContainer3"></ul>
    </div>
  </div>
</div>
