.of-button {
    margin-top: 20px;
    background-color: rgb(74, 134, 104);
    color: white;
    font-size: 18px;
    border-radius: 50px;
  }
  
  .list-of-operator {
    margin-top: 10px;
  }
  
  .result-of-operator {
    padding-left: 100px;
    color: rgb(185, 53, 236);
    font-size: 16px;
  }
  